.createPostWrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  //margin-bottom: 2rem;
  margin-top: 2rem;
}

.submitButton {
  display: flex;
  margin: 1rem auto 0 auto;
}

.postForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  width: 100%;
}

.postBlock{
}

.postArea {
  width: 100%;
}
