.postAreaBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin-bottom: 1rem;
}

.postArea {
  border: lightgrey solid 1px;
  margin: 0 auto 1rem auto;
  padding: 5px 5px;
  border-radius: 5px;
  width: 98%;
  resize: none;
  &:focus {
    background-color: #dce1e6;
  }
}

.postInfo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.postAuthor {
  margin-right: 0.5rem;
}

.dot {
  margin-right: 0.5rem;
  height: 0.3rem;
  width: 0.3rem;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.buttonsBlock {
  display: flex;
  justify-content: end;
}

.commentsBlock {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentsBlockTitle {
  font-weight: bold;
}

.noComments {
  //display: flex;
  //margin: 0.7rem auto 0.7rem auto;
  font-size: 1rem;
}

//.createCommentArea {
//  width: 80%;
//  border: lightgrey solid 1px;
//  border-radius: 5px;
//  padding: 5px 5px;
//  resize: none;
//}
//
//.addCommentBlock {
//  width: 100%;
//  margin-top: 1rem;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
